@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
td {
  min-width: 100px;
}
th {
  white-space: nowrap;
}
.react-datepicker-popper {
  left: 2rem !important;
}

@layer components {
  .btn-responsive {
    @apply
      flex items-center gap-1
      px-3 py-1.5 text-sm
      sm:px-4 sm:py-2 sm:text-[14px]
      md:px-5 md:py-2.5 md:text-base;
  }
}
@layer components {
  .btn-icon {
    @apply w-4 h-4 sm:w-5 sm:h-5;
  }
}

